{% extends 'timetable/base.html' %}
{% block title %} View Intervals {% endblock %}
{% block content %}
<div class="outer-container">
<div class="container">
  <div class="row">
    <div class="contents">
      <div class="col-md-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="">&times;</span>
                    </button>
                    </div>
            {% endfor %}
        {%  endif %}
        <div class="heading bg-info">
          <h3>INTERVALS LIST</h3>
        </div>
        <div >
          <a href="{% url 'add-interval' %}" class="btn btn-outline-info  mt-3"> <i class="fa fa-plus mr-2 "></i>Add Interval</a>
        </div>
          <form class="form-inline mt-5 ml-2 block" method="GET">
            <div class="searchBar">
              <input type="text" name = "q" placeholder="Search Interval">
              <button type="submit" class="btn btn-outline-info mb-2">Search</button>
            </div>
        </form>
        {% if intervals %}
        <table class="table table-sm table-bordered table-striped table-hover">
            <tr>
                <!-- <thead class="thead-dark"> -->
                <thead>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Action</th>
                </thead>
            </tr>
            <tbody>
                {% for interval in intervals %}
                <tr>
                  <td>{{ interval.start_time }}</td>
                  <td>{{ interval.end_time }}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a href="{% url 'update-interval' interval.id %}"><button type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button></a>
                      <a href="{% url 'delete-interval' interval.id %}" onclick="return confirm('Seriously Delete this!?');"><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></a>
                      </div>
                  </td>
                </tr>
                {% endfor %}
              {% else %}
                <h1>Ooopps!! No Venues loaded!</h1>
              {% endif %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}
